version: "3"
services:

  php:
    container_name: php_recipe
    image: ufotech/php:8.4-fpm
    working_dir: /app
    environment:
      WORKDIR: /app
      XDEBUG_CONFIG: remote_host={{YOUR_IP_ADDRESS}}
      PHP_IDE_CONFIG: serverName=docker
    volumes:
      - ./:/app

